<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa | Metin Önal</title>
    <!-- Include CSS assets / CSS varlıklarını dahil et -->
    <%- include("partials/assets/css") %>
</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <div class="wrapper">

        <!-- Left Sidebar Start / Sol Kenar Çubuğu Başlangıcı -->
        <%- include("partials/main-partials/left-sidebar") %>
        <!-- Left Sidebar End / Sol Kenar Çubuğu Sonu -->

        <!-- Start Page Content here / Sayfa İçeriği Başlangıcı -->
        <div class="content-page">
            <div class="content">

                <!-- Topbar Start / Üst Çubuk Başlangıcı -->
                <%- include("partials/main-partials/topbar") %>
                <!-- Topbar End / Üst Çubuk Sonu -->

                <!-- Start Content / İçerik Başlangıcı -->
                <div class="container-fluid">

                    <!-- Start page title / Sayfa Başlığı Başlangıcı -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">BT Departmanı Dökümantasyon</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End page title / Sayfa Başlığı Sonu -->

                    <!-- Content row start / İçerik satırı başlangıcı -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Bu içerikte Bilgi Teknolojileri departmanına dair iş akış dökümanları mevcuttur. Yan taraftaki menüden ilgili dökümana ulaşılabilir. Gerektiği taktirde üst kısımda bulunan arama çubuğu ile de ilgili dökümana ulaşılabilir.</h5>
                                </div> <!-- end card-body / kart-gövde sonu -->
                            </div> <!-- end card / kart sonu -->
                        </div> <!-- end col / sütun sonu -->
                    </div>
                    <!-- Content row end / İçerik satırı sonu -->

                </div> <!-- container / konteyner -->

            </div> <!-- content / içerik -->

            <!-- Footer Start / Altbilgi Başlangıcı -->
            <%- include("partials/main-partials/footer") %>
            <!-- Footer End / Altbilgi Sonu -->

        </div> <!-- content-page / içerik sayfası sonu -->
        <!-- End Page content / Sayfa içeriği sonu -->
    </div>
    <!-- END wrapper / Kapsayıcı Sonu -->

    <!-- Right Sidebar / Sağ Kenar Çubuğu -->
    <%- include("partials/main-partials/right-sidebar") %>
    <!-- End-bar / Son Çubuk -->

    <!-- Include JavaScript assets / JavaScript varlıklarını dahil et -->
    <%- include("partials/assets/scripts") %>
</body>

</html>
